<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>阿里通信vue组件库</title>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> -->

  <link rel="stylesheet" type="text/css" href="build/alidayu.css" id="J_ThemeCss">
  <link rel="stylesheet" type="text/css" href="build/docs.css">
  <link rel="stylesheet" type="text/css" href="docs/assets/prism-coy.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body class="alidayu">
<div id="wrapper">
  <header-docs></header-docs>
  <div class="bs-docs-header">
        <div class="container">
          <h1>Vue组件库</h1>
          <p>基于<a target="_blank" href="http://vuejs.org/" style="color:#fff;">Vue.js</a>的组件库.</p>
          <p>无任何依赖，单文件组件库合集</p>
          <br>
          <p>
            <a class="btn btn-outline-inverse btn-lg btn-default" href="http://gitlab.alibaba-inc.com/aliqin/vue-component">
              Code on GitLab
            </a>
          </p>
      </div>
  </div>
  <container>
    <div class="col-md-9">

      <getting-started></getting-started>
      <h1>基础样式</h1>
      <div class="elements">
        <button-docs></button-docs>
        <input-docs></input-docs>
        <form-docs></form-docs>
      </div>
      <h1>UI组件</h1>
      <div class="components">
        <alert-docs></alert-docs>
        <modal-docs></modal-docs>
        <tabs-docs></tabs-docs>
        <table-docs></table-docs>
        <accordion-docs></accordion-docs>
        <affix-docs></affix-docs>

        <aside-docs></aside-docs>
        <buttons-docs></buttons-docs>

        <dropdown-docs></dropdown-docs>

        <popover-docs></popover-docs>
        <progressbar-docs></progressbar-docs>
        <select-docs></select-docs>
        <tooltip-docs></tooltip-docs>
        <typeahead-docs></typeahead-docs>

        <carousel-docs></carousel-docs>
        <datepicker-docs></datepicker-docs>
      </div>

    </div>
    <div class="col-md-3">

    <affix>

      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm ">
        <h2>基础样式</h2>
        <ul class="nav bs-docs-sidenav">
          <li v-for="a in elements"><a href="#{{ a.toLowerCase() | space }}">{{ a }}</a></li>
        </ul>
        <h2>UI组件</h2>
        <ul class="nav bs-docs-sidenav" id="sidenav">
          <li v-for="a in components"><a href="#{{ a.toLowerCase() | space }}">{{ a }}</a></li>
        </ul>
        <h2>filters</h2>
        <ul class="nav bs-docs-sidenav">
          <li v-for="a in filters"><a href="#{{ a.toLowerCase() | space }}">{{ a }}</a></li>
        </ul>
        <a href="#top" class="back-to-top">Back to top</a>
        <a href="http://gitlab.alibaba-inc.com/aliqin/vue-component" class="back-to-top">GitLab</a>
      </nav>

    </affix>
    </div>
  </container>
</div>
<footer class="bs-docs-footer">
  <div class="container">
    <p>

    </p>
  </div>
</footer>
<!-- using cdn version here so it works under gh-pages -->
<script src="docs/js/vue.min.js"></script>
<script src="build/build-docs.js"></script>

</body>
</html>
