@import "./common.less";

// Variables
// --------------------------------------------------
// 品牌色
@primary-color: #0096e0;
@normal-color: #0087e0;

//checkbox & radio
@checkbox-bg: @primary-color;
@radio-bg: @checkbox-bg;

// table
@tr-hover-color:tint(@normal-color, 95%);
@import "../bootstrap.less";
