.address-box {
  position: relative;
  width: 100%;
  padding: 6px 26px 6px 10px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 4px;

  &.large {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.small {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .ad-select {
    font-size: 12px;
    color: #ccc;

    &.has-select {
      color: #666;
    }

    span {
      padding: 0 5px 0 4px;
      color: #d6d6d6;
    }
  }

  .ad-drop {
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    width: 10px;
    height: 5px;
    margin-top: -2.5px;
    background: url(//img.alicdn.com/tps/TB11TPQMXXXXXa6XVXXXXXXXXXX-10-5.png) 0 0 no-repeat;
    transform: rotate(0);
    transition: transform 1s;

    &.drop-down {
      transform: rotate(180deg);
      transition: transform 1s;
    }
  }

  .ad-overlay {
    position: absolute;
    left: -1px;
    top: 100%;
    width: 100%;
    margin-top: 1px;
    padding-top: 4px;
    padding-right: 2px;
    background-color: #fff;
    z-index: @zindex-select;
  }

  .ad-overlay-container {
    width: 100%;
    min-height: 255px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3), 0 0px 1px 0 rgba(0, 0, 0, 0.3);
  }

  .tab-list {
    padding: 6px 5px 0 5px;
    margin: 0;
    background-color: #fff;
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;

    ul {
      display: flex;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
    }

    li {
      height: 40px;
      line-height: 40px;
      color: #666;
      text-align: center;
      list-style: none;
      border: 1px solid #fff;
      border-top-width: 2px;
      cursor: pointer;

      &.active {
        position: relative;
        top: 1px;
        color: @primary-color;
        border-color: #d9d9d9;
        border-bottom-color: #fff;
        border-top-width: 1px;
        border-radius: 3px;
      }
    }
  }

  .tab-content {
    padding: 10px 10px 10px 15px;
    font-size: 12px;

    dl {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      padding: 3px 0 3px 35px;
      margin: 0;
    }

    dt {
      position: absolute;
      left: 0;
      top: 3px;
      width: 35px;
      line-height: 2;
      padding-right: 10px;
      color: #666;
      font-weight: bold;
    }

    dd {
      a {
        display: inline-block;
        line-height: 2;
        padding: 0 8px;
        color: #666;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          background-color: #F2FAFF;
          color: #666;
          text-decoration: none;
        }

        &:active, &:focus, &.active {
          background-color: @primary-color;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  .city-content, .county-content, .street-content {
    padding: 0 5px;

    dl {
      padding-left: 0;
    }

    dd {
      width: 100%;
    }
  }
}
