// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  background-image: none;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  touch-action: manipulation;
}

// Size of the button
// ----------------------------------------------------
.btn-default {
  padding: 7px 20px;
}

.btn-large {
  padding: 8px 20px;
}

.btn-small {
  padding: 2px 10px;
}

// Category button
// ----------------------------------------------------

.btn-primary {
  background-color: @btn-primary-bg;
  color: #fff;

  &:hover {
    background-color: @btn-primary-hover-bg;
  }

  &:focus, &:active {
    background-color: @btn-primary-click-bg;
  }
}

.btn-secondary {
  background-color: #fff;
  color: @btn-secondary-color;
  border-color: @btn-secondary-border;

  &:hover {
    background-color: @btn-secondary-hover-bg;
    color: @btn-secondary-hover-color;
    border-color: @btn-secondary-hover-border;

    &:focus, &:active {
      background-color: @btn-secondary-click-bg;
      color: @btn-secondary-click-color;
      border-color: @btn-secondary-click-border;
    }
  }

  &:focus, &:active {
    background-color: @btn-secondary-click-bg;
    color: @btn-secondary-click-color;
    border-color: @btn-secondary-click-border;
  }
}

.btn-tertiary {
  background-color: #fff;
  color: #666;
  border-color: #d9d9d9;

  &:hover {
    background-color: #fff;
    color: @btn-tertiary-hover-color;
    border-color: @btn-tertiary-hover-border;

    &:focus, &:active {
      background-color: #fff;
      color: @btn-tertiary-click-color;
      border-color: @btn-tertiary-click-border;
    }
  }

  &:focus, &:active {
    background-color: #fff;
    color: @btn-tertiary-click-color;
    border-color: @btn-tertiary-click-border;
  }
}

.btn-disabled {
  background-color: #f2f2f2;
  color: #ccc;
  cursor: default;
}

.btn-text {
  background-color: transparent;
  color: #666;

  &:hover, &:focus, &:active {
    background-color: #f2faff;
  }
}

// Size of the btn group
// ------------------------------------------
.group-default {
  button {
    padding: 7px 20px;
  }
}

.group-large {
  button {
    padding: 8px 20px;
  }
}

.group-small {
  button {
    padding: 2px 10px;
  }
}

.btn-group {
  .clearfix();
  display: inline-block;

  button {
    float: left;
    display: inline-block;
    background-image: none;
    background-color: #fff;
    font-size: 12px;
    color: #666;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px 1px 1px 0;
    cursor: pointer;
    touch-action: manipulation;

    &.active, &:focus, &:active {
      border-color: #00a0ff;
      background-color: #00a0ff;
      color: #fff;
      box-shadow: -1px 0px 1px #00a0ff;

      &:first-child {
        box-shadow: none;
      }

      &:last-child {
        box-shadow: 1px 0px -1px #00a0ff;
      }
    }

    &:hover {
      border-color: #66c6ff;
      background-color: #fff;
      color: #66c6ff;
      box-shadow: -1px 0px 1px #66c6ff;

      &:focus, &:active {
        border-color: #00a0ff;
        background-color: #00a0ff;
        color: #fff;
        box-shadow: -1px 0px 1px #00a0ff;

        &:first-child {
          box-shadow: none;
        }

        &:last-child {
          box-shadow: 1px 0px -1px #00a0ff;
        }
      }

      &:first-child {
        box-shadow: none;
      }

      &:last-child {
        box-shadow: 1px 0px -1px #66c6ff;
      }
    }

    &:first-child {
      border-left-width: 1px;
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
