// Base styles
// Alidayu Button Variables
// @btn-primary-bg             : #00a0ff;
// @btn-primary-hover-bg       : #66c6ff;
// @btn-primary-click-bg       : #0090e6;

// @btn-secondary-color        : #00a0ff;
// @btn-secondary-border       : #66c6ff;
// @btn-secondary-hover-bg     : #f2faff;
// @btn-secondary-hover-border : #66c6ff;
// @btn-secondary-hover-color  : #66c6ff;
// @btn-secondary-click-bg     : #f2faff;
// @btn-secondary-click-color  : #0090e6;
// @btn-secondary-click-border : #0090e6;

// @btn-tertiary-hover-color   : #66c6ff;
// @btn-tertiary-hover-border  : #66c6ff;
// @btn-tertiary-click-color   : #0090e6;
// @btn-tertiary-click-border  : #0090e6;
//
// Alitx Button Variables
// @btn-primary-bg             : #ff7500;
// @btn-primary-hover-bg       : #ffac66;
// @btn-primary-click-bg       : #e66900;

// @btn-secondary-color        : #ff7500;
// @btn-secondary-border       : #ffac66;
// @btn-secondary-hover-bg     : #fff8f2;
// @btn-secondary-hover-color  : #ffac66;
// @btn-secondary-hover-border : #ffac66;
// @btn-secondary-click-bg     : #fff8f2;
// @btn-secondary-click-color  : #e66900;
// @btn-secondary-click-border : #e66900;

// @btn-tertiary-hover-color   : #ffac66;
// @btn-tertiary-hover-border  : #ffac66;
// @btn-tertiary-click-color   : #e66900;
// @btn-tertiary-click-border  : #e66900;
// Tmallwt Button Variables
//
// @btn-primary-bg             : #e52e2e;
// @btn-primary-hover-bg       : #ff8080;
// @btn-primary-click-bg       : #ce2929;

// @btn-secondary-color        : #e52e2e;
// @btn-secondary-border       : #ff8080;
// @btn-secondary-hover-bg     : #fef5f5;
// @btn-secondary-hover-color  : #ff8080;
// @btn-secondary-hover-border : #ff8080;
// @btn-secondary-click-bg     : #fef5f5;
// @btn-secondary-click-color  : #ce2929;
// @btn-secondary-click-border : #ce2929;

// @btn-tertiary-hover-color   : #ff8080;
// @btn-tertiary-hover-border  : #ff8080;
// @btn-tertiary-click-color   : #ce2929;
// @btn-tertiary-click-border  : #ce2929;
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: 6px 20px;
  background-color: @btn-primary-bg;
  background-image: none;
  font-size: 12px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;

  &:hover {
    background-color: @btn-primary-hover-bg;
  }

  &:focus, &:active {
    background-color: @btn-primary-click-bg;
  }
}

// Size of the button
// ----------------------------------------------------
.btn {
  &.default {
    padding: 7px 20px;
  }

  &.large {
    padding: 8px 20px;
  }

  &.small {
    padding: 2px 10px;
  }
}

// Category button
// ----------------------------------------------------

.disabled() {
  background-color: #f2f2f2;
  color: #ccc;
  cursor: not-allowed;
}

.btn {
  &.primary {
    background-color: @btn-primary-bg;
    color: #fff;

    &:hover {
      background-color: @btn-primary-hover-bg;

      &:focus, &:active {
        background-color: @btn-primary-click-bg;
      }
    }

    &:focus, &:active {
      background-color: @btn-primary-click-bg;
    }
  }

  &.secondary {
    background-color: #fff;
    color: @btn-secondary-color;
    border-color: @btn-secondary-border;

    &:hover {
      background-color: @btn-secondary-hover-bg;
      color: @btn-secondary-hover-color;
      border-color: @btn-secondary-hover-border;

      &:focus, &:active {
        background-color: @btn-secondary-click-bg;
        color: @btn-secondary-click-color;
        border-color: @btn-secondary-click-border;
      }
    }

    &:focus, &:active {
      background-color: @btn-secondary-click-bg;
      color: @btn-secondary-click-color;
      border-color: @btn-secondary-click-border;
    }
  }

  &.tertiary {
    background-color: #fff;
    color: #666;
    border-color: #d9d9d9;

    &:hover {
      background-color: #fff;
      color: @btn-tertiary-hover-color;
      border-color: @btn-tertiary-hover-border;

      &:focus, &:active {
        background-color: #fff;
        color: @btn-tertiary-click-color;
        border-color: @btn-tertiary-click-border;
      }
    }

    &:focus, &:active {
      background-color: #fff;
      color: @btn-tertiary-click-color;
      border-color: @btn-tertiary-click-border;
    }
  }

  &.text {
    background-color: transparent;
    color: #666;

    &:hover, &:focus, &:active {
      background-color: #f2faff;
    }

    &:hover {
      &:focus, &:active {
        background-color: #f2faff;
      }
    }
  }

  &.disabled {
    .disabled();

    &:hover {
      .disabled();

      &:focus, &:focus {
        .disabled();
      }
    }

    &:focus, &:focus {
      .disabled();
    }
  }
}
