.atui-calendar {
  position: relative;
  display: inline-block;
}
.atui-calendar-input.with-reset-button {
  padding-right: 25px;
}
.atui-calendar > button.close {
  position: absolute;
  top: calc(37%);
  right: 10px;
}
.atui-calendar > button.close {
  outline: none;
  z-index: 2;
}
.atui-calendar > button.close:focus {
  opacity: .2;
}
.atui-calendar-popup {
  // position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  margin-top: 2px;
  z-index: 1000;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.atui-calendar-inner {
  width: 218px;
}
.atui-calendar-body {
  padding: 10px 10px;
}
.atui-calendar-ctrl p,
.atui-calendar-ctrl span,
.atui-calendar-body span {
  display: inline-block;
  width: 28px;
  line-height: 28px;
  height: 28px;
  border-radius: 4px;
}
.atui-calendar-ctrl p {
  width: 65%;
}
.atui-calendar-ctrl span {
  position: absolute;
}
.atui-calendar-body span {
  text-align: center;
}
.atui-calendar-monthRange span {
  width: 48px;
  height: 50px;
  line-height: 45px;
}
.atui-calendar-item-disable {
  background-color: white!important;
  cursor: not-allowed !important;
}
.decadeRange span:first-child,
.decadeRange span:last-child,
.atui-calendar-item-disable,
.atui-calendar-item-gray {
  color: #999;
}
.atui-calendar-dateRange-item-active:hover,
.atui-calendar-dateRange-item-active {
  background: #3276b1 !important;
  color: white!important;
}
.atui-calendar-monthRange {
  margin-top: 10px;
}
.atui-calendar-monthRange span,
.atui-calendar-ctrl span,
.atui-calendar-ctrl p,
.atui-calendar-dateRange span {
  cursor: pointer;
}
.atui-calendar-monthRange span:hover,
.atui-calendar-ctrl p:hover,
.atui-calendar-ctrl i:hover,
.atui-calendar-dateRange span:hover,
.atui-calendar-dateRange-item-hover {
  background-color: #eeeeee;
}
.atui-calendar-weekRange span {
  font-weight: bold;
}
.atui-calendar-label {
  background-color: #f8f8f8;
  font-weight: 700;
  padding: 7px 0;
  text-align: center;
}
.atui-calendar-ctrl {
  position: relative;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.month-btn {
  font-weight: bold;
  user-select: none;
}
.atui-calendar-preBtn {
  left: 2px;
}
.atui-calendar-nextBtn {
  right: 2px;
}
