//
// Component animations
// --------------------------------------------------

.fade-transition {
  transition: opacity .4s ease;
}
.fade-enter,
.fade-leave {
  height: 0;
  opacity: 0;
}

.movedown-transition {
  transition: top .3s ease;
}
.movedown-enter{
  top:-100px !important;
}

.moveup-transition {
  transition: top .3s ease;
}
.moveup-leave{
  top:-100px !important;
}

.collapse {
  display: none;

  &.in      { display: block; }
  tr&.in    { display: table-row; }
  tbody&.in { display: table-row-group; }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  .transition-property(~"height, visibility");
  .transition-duration(.35s);
  .transition-timing-function(ease);
}
