.atui-datepicker{
  position: relative;
  display: inline-block;
}
.atui-datepicker-toggle{
  position: relative;
  padding-right:23px;
  border:1px solid #d9d9d9;
  border-radius:4px;
  width:138px;
  height:28px;
  input{
    border:none;
    width:100%;
    display: inline-block;
    height:100%;
  }
  .iconfont{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:7px;
  }
}
.atui-datepicker-calendar{
  position: absolute;
  left:0;
  top:0;
}
