// Iconfont
// --------------------------------------------------
@prefix-cls-iconfont: e("@{prefix-cls}-iconfont");
@prefix-cls-icon: e("@{prefix-cls}-icon");
@font-face {
  font-family: @prefix-cls-iconfont;
  src: url('//at.alicdn.com/t/font_1471846539_990548.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1471846539_990548.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1471846539_990548.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1471846539_990548.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1471846539_990548.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.@{prefix-cls-iconfont} {
    font-family: @prefix-cls-iconfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    // -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.@{prefix-cls-icon}-info-s,
.@{prefix-cls-icon}-error-s,
.@{prefix-cls-icon}-success-s,
.@{prefix-cls-icon}-help-s,
.@{prefix-cls-icon}-warning-s,
.@{prefix-cls-icon}-info-s-b,
.@{prefix-cls-icon}-error-s-b,
.@{prefix-cls-icon}-success-s-b,
.@{prefix-cls-icon}-help-s-b,
.@{prefix-cls-icon}-warning-s-b {
  font-size: 16px;
}

.@{prefix-cls-icon}-info-l,
.@{prefix-cls-icon}-error-l,
.@{prefix-cls-icon}-success-l,
.@{prefix-cls-icon}-help-l,
.@{prefix-cls-icon}-warning-l {
  font-size: 36px;
}

.@{prefix-cls-icon}-info,
.@{prefix-cls-icon}-error,
.@{prefix-cls-icon}-success,
.@{prefix-cls-icon}-help,
.@{prefix-cls-icon}-warning {
  font-size: 24px;
}

.@{prefix-cls-icon}-error-l:before {
    content: "\e60f";
}

.@{prefix-cls-icon}-error-s:before {
    content: "\e601";
}

.@{prefix-cls-icon}-error-s-b:before {
    content: "\e609";
}

.@{prefix-cls-icon}-error:before {
    content: "\e60b";
}

.@{prefix-cls-icon}-help-l:before {
    content: "\e610";
}

.@{prefix-cls-icon}-help-s:before {
    content: "\e600";
}

.@{prefix-cls-icon}-help-s-b:before {
    content: "\e608";
}

.@{prefix-cls-icon}-help:before {
    content: "\e60d";
}

.@{prefix-cls-icon}-info-l:before {
    content: "\e611";
}

.@{prefix-cls-icon}-info-s:before {
    content: "\e604";
}

.@{prefix-cls-icon}-info-s-b:before {
    content: "\e607";
}

.@{prefix-cls-icon}-info:before {
    content: "\e60a";
}

.@{prefix-cls-icon}-success-l:before {
    content: "\e612";
}

.@{prefix-cls-icon}-success-s:before {
    content: "\e603";
}

.@{prefix-cls-icon}-success-s-b:before {
    content: "\e606";
}

.@{prefix-cls-icon}-success:before {
    content: "\e60c";
}

.@{prefix-cls-icon}-waring-l:before {
    content: "\e613";
}

.@{prefix-cls-icon}-warning-s:before {
    content: "\e602";
}

.@{prefix-cls-icon}-warning-s-b:before {
    content: "\e605";
}

.@{prefix-cls-icon}-warning:before {
    content: "\e60e";
}
.@{prefix-cls-icon}-warning-l:before {
    content: "\e60c";
}

.@{prefix-cls-icon}-caretdown:before {
    content: "\e622";
}

.@{prefix-cls-icon}-caretup:before {
    content: "\e623";
}

.@{prefix-cls-icon}-shijian:before {
    content: "\e61c";
}

.@{prefix-cls-icon}-close:before {
    content: "\e616";
}

.@{prefix-cls-icon}-close-l:before {
    content: "\e61b";
}

.@{prefix-cls-icon}-head:before {
    content: "\e614";
}

.@{prefix-cls-icon}-tail:before {
    content: "\e615";
}

.@{prefix-cls-icon}-prev:before {
    content: "\e61a";
}

.@{prefix-cls-icon}-next:before {
    content: "\e619";
}

.@{prefix-cls-icon}-filter:before {
    content: "\e61d";
}

.@{prefix-cls-icon}-tick:before {
    content: "\e621";
}

.@{prefix-cls-icon}-up:before {
    content: "\e618";
}

.@{prefix-cls-icon}-down:before {
    content: "\e617";
}

.@{prefix-cls-icon}-search:before {
    content: "\e620";
}

.@{prefix-cls-icon}-close-l:before {
    content: "\e61f";
}

.@{prefix-cls-icon}-doc:before {
    content: "\e61f";
}

.@{prefix-cls-icon}-calendar:before {
    content: "\e624";
}

.@{prefix-cls-icon}-clear:before {
    content: "\e61a";
}

.@{prefix-cls-icon}-time:before {
    content: "\e61c";
}
