.vue-menu{
	background:#36394d;
	width:200px;
	padding:0;
}
.vue-menu li,.vue-sub-menu-title{
	padding:0;
	padding-left: 36px;
	list-style: none;
	box-shadow:inset 0px -1px 0px 0px #474b66;
	color:#c8c8c8;
	line-height: 50px;
}
.vue-menu li:hover{
	background:#242633;
	color:#66c6ff;
}
.vue-sub-menu{
	padding:0;
	li{
		padding-left: 46px;
	}
}
.vue-sub-menu-title {
	cursor: pointer;
}
