.select-container {
  position: relative;
  display: inline-block;

  .dropdown-toggle{
    min-width: 140px;
    width:100%;
    text-align: left;
    background:#ffffff;
    border:1px solid #d9d9d9;
    border-radius:4px;
    font-size: 12px;
    height:30px;
    line-height: 30px;
    padding:0 10px;
    padding-right: 30px;
    &:focus{
      border:1px solid #00a0ff;
      box-shadow:0px 0px 0px 2px rgba(0,160,255,0.30);
    }
  }
  .dropdown-menu .selected {

  }
}
