// Select
// --------------------------------------------------
@prefix-cls-select: e("@{prefix-cls}-select");

.@{prefix-cls-select}-cont {
  position: relative;
  display: inline-block;

  .@{prefix-cls-select}-toggle {
    min-width: 80px;
    cursor: pointer;
    text-align: left;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 10px;
    min-height: 30px;
    line-height: 30px;
    overflow: hidden;

    &:focus {
      border: 1px solid @primary-color;
      box-shadow: 0px 0px 0px 2px fade(@primary-color, 30%);
      outline: none;
    }

    &.large {
      height: 34px;
      line-height: 34px;
    }

    &.small {
      height: 28px;
      line-height: 28px;
    }
    .atui-tag {
      margin: -4px 5px 0;
      border-radius: 4px;
      line-height: 1.5;
    }

  }
  .@{prefix-cls-select}-multiple .@{prefix-cls-select}-toggle {
    cursor: default;
  }
  .@{prefix-cls-select}-placeholder {
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 9px;
    color: #ccc;
    line-height: 20px;
    height: 20px;
    margin-top: -10px;
    cursor: default;
  }
  .@{prefix-cls-select}-search-field {
    width: 10px;
    height: 20px;
    outline: 0;
    border: 0;
  }
  .@{prefix-cls-select}-tags:focus {
    border: 1px solid #d9d9d9;
    box-shadow: none;
  }
}

.@{prefix-cls-select}-caret {
  display: inline-block;
  position: absolute;
  top: 50%;
  // transform:translateY(-50%);
  margin-top: -18px;
  right: 10px;

  .@{prefix-cls}-iconfont {
    color: #bfbfbf;
    display: inline-block;
    transition: all .3s ease;
  }
}

.@{prefix-cls}-trigger-disabled {
  .@{prefix-cls-select}-toggle:focus {
    border: 1px solid #d9d9d9;
    box-shadow: none;
    outline: none;
  }
}
