
.atui-table {
  position: relative;
  .atui-spin{
    position: absolute;
    top:50%;
    left:50%;
    z-index: 1;
    transform:translate(-50%,-50%);
  }
  &.loading tbody{
    opacity: .7;
    filter: blur(1px);
    pointer-events: none;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  thead {
    background-color: #F7F7F7;
  }
  tbody,tfoot {
    background-color: #FFF;
  }
  th,td{
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
  }
  th{
    position: relative;
    padding: 12px 15px;
    color: #666;
    .iconfont{
      cursor: pointer;
    }
    .icon-filter{
      color:#999;
      &:hover{
        color:#666;
      }
      &:active{
        color:@primary-color;
      }
    }
    .table-sorter {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width:10px;
      height: 20px;
      line-height: 9px;
      i{
        font-size:10px;
      }
      .active{
        color:@primary-color;
      }
    }
  }

  tbody tr:hover {
    background-color: @tr-hover-color;
  }
  tr.none td {
    text-align: center;
  }
  tr.none:hover {
    background-color: #FFF;
  }
  tfoot tr:hover {
    background-color: inherit;
  }
  td {
    padding: 15px;
    border-bottom: 1px solid #F0F0F0;
    color: #666;
  }

  .pagination {
    float: right;
    margin-top: 0;
  }

  &-selection-column{
    text-align: center;
    width: 60px;
  }

  &-middle th, &-middle td, &-small th {
    padding: 10px 8px;
  }

  &-body.atui-fixed-header{
    height: 260px;
    overflow: auto;
  }


  &-small td{
    padding: 6px 8px;
  }

  &-filter-dropdown{
    margin-left: -8px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
    ul{
      list-style: none;
      min-width: 96px;
      padding:0;
    }
    li{
      padding: 5px 10px;
      &:hover{
        background-color: @tr-hover-color
      }
    }
  }

  &-filter-dropdown-btns {
    overflow: hidden;
    padding: 7px 15px;
    border-top: 1px solid #e9e9e9;
  }
  &-filter-dropdown-link {
    float: left;
    &.clear{
      float:right;
    }
  }
}



