
.atui-table-container{
  position: relative;
  .atui-spin{
    position: absolute;
    top:50%;
    left:50%;
    z-index: 1;
    transform:translate(-50%,-50%);
  }
}
.atui-table-container.loading .atui-table-body{
  opacity: .7;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  pointer-events: none;
}

.atui-table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: #F7F7F7;
  }
  tbody,tfoot {
    background-color: #FFF;
  }
  th,td{
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
  }
  th{
    position: relative;
    padding: 12px 15px;
    color: #666;
    .iconfont{
      cursor: pointer;
    }
    .icon-filter{
      color:#999;
      &:hover{
        color:#666;
      }
      &:active{
        color:@primary-color;
      }
    }
    .table-sorter{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width:10px;
      height: 20px;
      line-height: 9px;
      i{
        font-size:10px;
      }
      .active{
        color:@primary-color;
      }
    }
  }

  tbody tr:hover {
    background-color: @tr-hover-color;
  }
  tr.none td {
    text-align: center;
  }
  tr.none:hover {
    background-color: #FFF;
  }
  tfoot tr:hover {
    background-color: inherit;
  }
  td {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #F0F0F0;
    color: #666;
  }

  .pagination {
    float: right;
    margin-top: 0;
  }

}


