//
// textarea
//
// alidayu 文本域
@textarea-width: 50%;
@textarea-padding: 8px 10px;
@textarea-color: #666;
@textarea-disabled-color: #ccc;

@textarea-background: #fff;
@textarea-disabled-background: #f2f2f2;

@textarea-click-shadow-color: rgba(0,160,255,0.30);
@textarea-error-shadow-color: rgba(255,89,89,0.30);

@textarea-border: #d9d9d9;
@textarea-hover-border: #bfbfbf;
@textarea-click-border: #00a0ff;
@textarea-disabled-border: #e6e6e6;
@textarea-error-border: #ff5959;


// alitx 文本域
// @textarea-width: 50%;
// @textarea-padding: 8px 10px;
// @textarea-color: #666;
// @textarea-disabled-color: #ccc;

// @textarea-background: #fff;
// @textarea-disabled-background: #f2f2f2;

// @textarea-click-shadow-color: rgba(0,160,255,0.30);
// @textarea-error-shadow-color: rgba(255,89,89,0.30);

// @textarea-border: #d9d9d9;
// @textarea-hover-border: #bfbfbf;
// @textarea-click-border: #00a0ff;
// @textarea-disabled-border: #e6e6e6;
// @textarea-error-border: #ff5959;
//
//
// tmallwt 文本域
// @textarea-width: 50%;
// @textarea-padding: 8px 10px;
// @textarea-color: #666;
// @textarea-disabled-color: #ccc;

// @textarea-background: #fff;
// @textarea-disabled-background: #f2f2f2;

// @textarea-click-shadow-color: rgba(0,160,255,0.30);
// @textarea-error-shadow-color: rgba(255,89,89,0.30);

// @textarea-border: #d9d9d9;
// @textarea-hover-border: #bfbfbf;
// @textarea-click-border: #00a0ff;
// @textarea-disabled-border: #e6e6e6;
// @textarea-error-border: #ff5959;
// --------------------------------------------------

.active() {
  border-color: @textarea-click-border;
  box-shadow:0px 0px 0px 2px @textarea-click-shadow-color;
}

.error() {
  border-color: @textarea-error-border;
  box-shadow: 0px 0px 0px 2px @textarea-error-shadow-color;
}

.disabled() {
  background: @textarea-disabled-background;
  color: @textarea-disabled-color;
  border-color: @textarea-disabled-border;
  box-shadow: none;
}

.textarea {
  width: @textarea-width;
  min-width: 370px;
  min-height: 78px;
  padding: @textarea-padding;
  background: @textarea-background;
  color: @textarea-color;
  font-size: 12px;
  border: 1px solid @textarea-border;
  border-radius: 4px;
  outline: none;

  &:hover {
    border-color: @textarea-hover-border;

    &:active, &:focus {
      .active();
    }
  }

  &:active, &:focus {
    .active();
  }

  &.error {
    .error();

    &:hover {
      .error();

      &:active, &:focus {
        .error();
      }
    }

    &:active, &:focus {
      .error();
    }
  }
}

textarea[disabled], .textarea.disabled {
  .disabled();

  &:hover {
    .disabled();

    &:active, &:focus {
      .disabled();
    }
  }

  &:active, &:focus {
    .disabled();
  }
}
