@keyframes appear-from-inside
{
    from    { transform: scale( 0 ); }
    75%     { transform: scale( 1.1 ); }
    to      { transform: scale( 1 ); }
}

.file-upload {

  .select-files {
    width: 227px;

    .file-item {
      display: block;
      position: relative;
      width: 227px;
      height: 30px;
      line-height: 30px;
      padding: 0 30px;
      text-align: left;
      border-radius: 4px;

      &:hover {
        background-color: #F2FAFF;
        text-decoration: none;
      }

      span {
        color: #00A0FF;
      }
    }
  }

  input[type="file"] {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;

    + label {
      display: inline-block;
      max-width: 80%;
      white-space: nowrap;
      cursor: pointer;
      overflow: hidden;

      &:hover, &:focus {
          color: #39bfd3;
      }
    }

    &:focus + label, &.has-focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
  }

  .drag-upload {
    position: relative;
    background-color: #c8dadf;
    padding: 100px 20px;
    text-align: center;

    &.active {
      outline: 2px dashed #92b0b3;
      outline-offset: -10px;
      transition: outline-offset .15s ease-in-out, background-color .15s linear;
    }
    .state {
      .state-uploading {
        font-style: italic;
      }
    }

    .animate  {
      animation: appear-from-inside .25s ease-in-out;
    }

    &.is-dragover {
        outline-offset: -20px;
        outline-color: #c8dadf;
        background-color: #fff;
    }
  }

  .upload-rate {
    .rate-control {
      position: relative;
      display: inline-block;
      width: 90px;
      height: 22px;
      background-color: #f2f2f2;
      border-radius: 4px;
      overflow: hidden;
    }

    .rate {
      display: inline-block;
      width: 0;
      height: 22px;
      background-color: #d9d9d9;
      border-radius: 4px 0 0 4px;
      transition-property: width;

      &.active {
        width: 90px;
        transition-property: width;
      }
    }

    .rate-tip {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: 90px;
      height: 22px;
      line-height: 22px;
      color: #666;
      font-size: 12px;
      text-align: center;
      overflow: hidden;
    }

    a {
      color: #00A0FF;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
