
body {
  position: relative; /* For scrollspy */
  font-size: 12px;
}

/*body {
  font-family: 'Source Sans Pro', 'helvetica neue', 'Avenir Next', 'Avenir',Arial, sans-serif;
}
*/
.bs-docs-section h1 {
  font-size: 42px
}


.bs-docs-footer {
  padding-top: 20px;
  text-align: left;
}
.bs-docs-nav .navbar-collapse {
  overflow: hidden;
}
.bs-docs-nav {
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
}

/* Keep code small in tables on account of limited space */
.table code {
  font-size: 13px;
  font-weight: normal;
}


/* Bootstrap "B" icon */
.bs-docs-booticon {
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: #563d7c;
  border-radius: 15%;
}
.bs-docs-booticon-sm {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 28px;
}
.bs-docs-booticon-lg {
  width: 144px;
  height: 144px;
  font-size: 108px;
  line-height: 140px;
}
.bs-docs-booticon-inverse {
  color: #563d7c;
  background-color: #fff;
}
.bs-docs-booticon-outline {
  background-color: transparent;
  border: 1px solid #cdbfe3;
}


/*
 * Main navigation
 *
 * Turn the `.navbar` at the top of the docs purple.
 */

.bs-docs-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}
.bs-home-nav .bs-nav-b {
  display: none;
}
.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav > li > a {
  font-weight: 500;
}
.bs-docs-nav li{
  floatï¼šleft;
}
.bs-docs-nav .navbar-nav > li > a:hover,
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #563d7c;
}
.bs-docs-nav .navbar-header .navbar-toggle {
  border-color: #fff;
}
.bs-docs-nav .navbar-header .navbar-toggle:hover,
.bs-docs-nav .navbar-header .navbar-toggle:focus {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}


/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;
}
.bs-docs-footer-links li {
  display: inline;
  padding: 0 2px;
}
.bs-docs-footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-docs-footer p {
    margin-bottom: 0;
  }
}



/*
 * Page headers
 *
 * Jumbotron-esque headers at the top of every page that's not the homepage.
 */

/* Page headers */
.bs-docs-header {
  margin-bottom: 40px;
  font-size: 20px;
}
.bs-docs-header h1 {
  margin-top: 0;
  color: #fff;
}
.bs-docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}
.bs-docs-header .container {
  position: relative;
}

@media (min-width: 768px) {
  .bs-docs-header {
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }
  .bs-docs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .bs-docs-header h1,
  .bs-docs-header p {
    margin-right: 380px;
  }
}




@media (min-width: 480px) {
  .carbonad {
    width: 330px !important;
    margin: 20px auto !important;
    border-width: 1px !important;
    border-radius: 4px;
  }
  .bs-docs-masthead .carbonad {
    margin: 50px auto 0 !important;
  }
}

@media (min-width: 768px) {
  .carbonad {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 992px) {
  .carbonad {
    position: absolute;
    top: 0;
    right: 15px; /* 15px instead of 0 since box-sizing */
    width: 330px !important;
    padding: 15px !important;
    margin: 0 !important;
  }
  .bs-docs-masthead .carbonad {
    position: static;
  }
}


/*
 * Homepage featurettes
 *
 * Reasons to use Bootstrap, entries from the Expo, and more.
 */

.bs-docs-featurette {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.bs-docs-featurette + .bs-docs-footer {
  margin-top: 0;
  border-top: 0;
}

.bs-docs-featurette-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: normal;
}
.half-rule {
  width: 100px;
  margin: 40px auto;
}
.bs-docs-featurette h3 {
  margin-bottom: 5px;
  font-weight: normal;
}
.bs-docs-featurette-img {
  display: block;
  margin-bottom: 20px;
}
.bs-docs-featurette-img:hover {
  color: #428bca;
  text-decoration: none;
}
.bs-docs-featurette-img img {
  display: block;
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  .bs-docs-featurette .img-responsive {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .bs-docs-featurette {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .bs-docs-featurette-title {
    font-size: 40px;
  }
  .bs-docs-featurette .lead {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .bs-docs-featured-sites .col-sm-3:first-child img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .bs-docs-featured-sites .col-sm-3:last-child img {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .bs-docs-featurette .img-responsive {
    margin-top: 0;
  }
}

/* Featured sites */
.bs-docs-featured-sites {
  margin-right: -1px;
  margin-left: -1px;
}
.bs-docs-featured-sites .col-sm-3 {
  padding-right: 1px;
  padding-left: 1px;
}
.bs-docs-featured-sites .img-responsive {
  margin-bottom: 15px;
}
@media (min-width: 480px) {
  .bs-docs-featured-sites .img-responsive {
    margin-bottom: 0;
  }
}

/* Example thumbnails */
@media (max-width: 480px) {
  .bs-examples {
    margin-right: -10px;
    margin-left: -10px;
  }
  .bs-examples > [class^="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
}


/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 20px;
  }
}

/* First level of nav */
.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.bs-docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 500;
}
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  padding-left: 9px;
  text-decoration: none;
  background-color: transparent;
  /*border-left: 1px solid #56BFFC;*/
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  background-color: transparent;
  border-left: 2px solid #56BFFC;
}

/* Nav: second level (shown on .active) */
.bs-docs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.bs-docs-sidebar .nav .nav > li > a:hover,
.bs-docs-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* Back to top (hidden on mobile) */
.back-to-top,
.bs-docs-theme-toggle {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover,
.bs-docs-theme-toggle:hover {
  color: #563d7c;
  text-decoration: none;
}
.bs-docs-theme-toggle {
  margin-top: 0;
}

@media (min-width: 768px) {
  .back-to-top,
  .bs-docs-theme-toggle {
    display: block;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-docs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-docs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 20px;
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
  .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-docs-sidebar.affix-bottom,
  .bs-docs-sidebar.affix {
    width: 263px;
  }
}


/*
 * Docs sections
 *
 * Content blocks for each component or feature.
 */

/* Space things out */
.bs-docs-section {
  margin-bottom: 60px;
}
.bs-docs-section:last-child {
  margin-bottom: 0;
}

h1[id] {
  padding-top: 20px;
  margin-top: 0;
}




/*
 * Grid examples
 *
 * Highlight the grid columns within the docs so folks can see their padding,
 * alignment, sizing, etc.
 */

.show-grid {
  margin-bottom: 15px;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}


/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
/* Echo out a label for the example */
.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example";
}

/* Tweak display of the code snippets when following an example */
.bs-example + .highlight {
  margin: -15px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .bs-example + .highlight {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}



.navbar-nav .active {
    background-color: #eee !important;
}
.themes{
  position: fixed;
  right:50px;
  top:50px;
  list-style: none;
  z-index: 9999;
}
.themes li{
  float:left;
  width:14px;
  height:14px;
  border-radius:100%;
  margin:0 5px;
  cursor: pointer;
  color:#fff;
  font-size: 12px;
  transition: all .3s ease;
}
.themes li.active{
  transform:scale(1.5);
}
